nav.main-navbar
	section.main-navbar-header
		img(src="http://lorempixel.com/100/100/city").main-navbar-logo
		h3.main-navbar-title H2O Inteligence
		.main-navbar-trigger
			span
			span
			span
	ul.main-navbar-menu
		li.main-navbar-menu-item
			a(href="#section-objetivos").main-navbar-menu-link Objetivos
		li.main-navbar-menu-item
			a(href="#section-idea").main-navbar-menu-link Propuesta
		li.main-navbar-menu-item
			a(href="#section-sponsors").main-navbar-menu-link Sponsors
		li.main-navbar-menu-item
			a(href="#section-nosotros").main-navbar-menu-link Nosotros
